[submodule "libs/phpmailer"]
	path = libs/phpmailer
	url = https://github.com/yfix/PHPMailer.git
[submodule "libs/phpcrypt"]
	path = libs/phpcrypt
	url = https://github.com/yfix/phpcrypt.git
[submodule "libs/php-diff"]
	path = libs/php-diff
	url = https://github.com/yfix/php-diff
[submodule "libs/jquery-file-upload"]
	path = libs/jquery-file-upload
	url = https://github.com/yfix/jQuery-File-Upload.git
[submodule "libs/geoip-api-php"]
	path = libs/geoip-api-php
	url = https://github.com/yfix/geoip-api-php.git
[submodule "libs/php_sql_parser"]
	path = libs/php_sql_parser
	url = https://github.com/yfix/php-sql-parser.git
[submodule "libs/yf_feedcreator"]
	path = libs/yf_feedcreator
	url = https://github.com/yfix/yf_feedcreator.git
[submodule "libs/yf_utf8_funcs"]
	path = libs/yf_utf8_funcs
	url = https://github.com/yfix/yf_utf8_funcs.git
[submodule "libs/php-ffmpeg"]
	path = libs/php-ffmpeg
	url = https://github.com/yfix/PHP-FFMpeg
