[submodule "libs/php5-utf8"]
	path = libs/php5-utf8
	url = https://github.com/yfix/php5-utf8.git
[submodule "libs/phpmailer"]
	path = libs/phpmailer
	url = https://github.com/yfix/PHPMailer.git
[submodule "libs/fenom"]
	path = libs/fenom
	url = https://github.com/yfix/fenom.git
[submodule "libs/phpseclib"]
	path = libs/phpseclib
	url = https://github.com/yfix/phpseclib.git
[submodule "libs/kcfinder"]
	path = libs/kcfinder
	url = https://github.com/yfix/yf_kcfinder.git
[submodule "libs/smarty"]
	path = libs/smarty
	url = https://github.com/yfix/smarty.git
[submodule "libs/twig"]
	path = libs/twig
	url = https://github.com/yfix/Twig.git
[submodule "libs/geonames-db-import"]
	path = libs/geonames-db-import
	url = https://github.com/yfix/geonames-db-import.git
[submodule "libs/phpcrypt"]
	path = libs/phpcrypt
	url = https://github.com/yfix/phpcrypt.git
[submodule "libs/php-diff"]
	path = libs/php-diff
	url = https://github.com/yfix/php-diff
[submodule "libs/jquery-file-upload"]
	path = libs/jquery-file-upload
	url = https://github.com/yfix/jQuery-File-Upload.git
[submodule "libs/geoip-api-php"]
	path = libs/geoip-api-php
	url = https://github.com/yfix/geoip-api-php.git
[submodule "libs/php_sql_parser"]
	path = libs/php_sql_parser
	url = https://github.com/yfix/PHP-SQL-Parser.git
[submodule "libs/symfony_class_loader"]
	path = libs/symfony_class_loader
	url = https://github.com/yfix/ClassLoader.git
