RewriteEngine on
RewriteBase /punkrock.org/
# For custom user links
RewriteRule ^(account|adv|bands|blogs|browse|bulletins|chat|classifieds|custom_meta_info|fans|flyers|forum|friends|gallery|get_pswd|help|home_page|invite|language|links|login_form|lyrics|mail|music|news|orgs|profile|reviews|rewrite|search|shows|signup|sites_info|static_pages|tabs|task_loader){0}([a-z0-9_\-]+)$	index.php?object=profile&action=view&profile_url=$2	[L,NC,T=application/x-httpd-php]
RewriteRule ^(music)/(show){1}([^\/]+)[\/]*([0-9]*)([\/]*|[\.html]*)$	index.php?object=$1&$3&page=$4							[L,NC,T=application/x-httpd-php]
###--- PROFY FORUM RULES ---###
RewriteRule ^([a-z]{3})*[\/]*(forum)+[\/]*([0-9]*)([\/]*|[\.html]*)$													index.php?object=$2&id=$3&language=$1						[L,NC,T=application/x-httpd-php]
RewriteRule ^([a-z]{3})*[\/]*(forum)+/(confirm_register)/([0-9a-z_=\+\/\\]+)([\/]*|[\.html]*)$							index.php?object=$2&action=$3&key=$4&language=$1			[L,NC,T=application/x-httpd-php]
RewriteRule ^([a-z]{3})*[\/]*(forum)+/(search)/([^\/]+)[\/]*([0-9]*)([\/]*|[\.html]*)$									index.php?object=$2&action=$3&$4&page=$5&language=$1		[L,NC,T=application/x-httpd-php]
RewriteRule ^([a-z]{3})*[\/]*(forum)+/([0-9a-z_\-]+)[\/]*([0-9]*)[\/]*([0-9]*)([\/]*|[\.html]*)([\#]*[a-z0-9\_\-]*)$	index.php?object=$2&action=$3&id=$4&page=$5&language=$1$7	[L,NC,T=application/x-httpd-php]
###---/ PROFY FORUM RULES ---###
### PROFY ENGINE STANDARD REWRITE RULES ####
RewriteRule ^login/([^\/\.]+)([\/]*|[\.html]*)$									index.php?object=login_form&go_url=$1					[L,NC,T=application/x-httpd-php]
RewriteRule ^(signup)/(confirm)/([a-z0-9\=\_\+]*)([\/]*|[\.html]*)$				index.php?object=$1&action=$2&id=$3						[L,NC,T=application/x-httpd-php]
RewriteRule ^(login|logout)([\/]*|[\.html]*)$									index.php?task=$1										[L,NC,T=application/x-httpd-php]

RewriteRule ^(account|adv|bands|blogs|browse|bulletins|chat|classifieds|custom_meta_info|fans|flyers|forum|friends|gallery|get_pswd|help|home_page|invite|language|links|login_form|lyrics|mail|music|news|orgs|profile|reviews|rewrite|search|shows|signup|sites_info|static_pages|tabs|task_loader)([\/]*|[\.html]*)$													index.php?object=$1							[L,NC,T=application/x-httpd-php]
RewriteRule ^(account|adv|bands|blogs|browse|bulletins|chat|classifieds|custom_meta_info|fans|flyers|forum|friends|gallery|get_pswd|help|home_page|invite|language|links|login_form|lyrics|mail|music|news|orgs|profile|reviews|rewrite|search|shows|signup|sites_info|static_pages|tabs|task_loader)/([a-z0-9_\-]+)([\/]*|[\.html]*)$									index.php?object=$1&action=$2				[L,NC,T=application/x-httpd-php]
RewriteRule ^(account|adv|bands|blogs|browse|bulletins|chat|classifieds|custom_meta_info|fans|flyers|forum|friends|gallery|get_pswd|help|home_page|invite|language|links|login_form|lyrics|mail|music|news|orgs|profile|reviews|rewrite|search|shows|signup|sites_info|static_pages|tabs|task_loader)/([a-z0-9_\-]+)/([a-z0-9_\-]+)([\/]*|[\.html]*)$					index.php?object=$1&action=$2&id=$3			[L,NC,T=application/x-httpd-php]
RewriteRule ^(account|adv|bands|blogs|browse|bulletins|chat|classifieds|custom_meta_info|fans|flyers|forum|friends|gallery|get_pswd|help|home_page|invite|language|links|login_form|lyrics|mail|music|news|orgs|profile|reviews|rewrite|search|shows|signup|sites_info|static_pages|tabs|task_loader)/([a-z0-9_\-]+)/([a-z0-9_\-]+)/([a-z0-9_\-]+)([\/]*|[\.html]*)$	index.php?object=$1&action=$2&id=$3&page=$4	[L,NC,T=application/x-httpd-php]