/* Main forum wrapper */
#yf_forum { 
	margin: 20px auto 20px auto;
	text-align: left;
	width: 720px;
}
/* required for text in tables, because tables do not inherit from body */
#yf_forum table,
#yf_forum tr,
#yf_forum td {
	background: transparent;
	color: #222;
	font-size: 11px;
	line-height: 135%;
}
/* makes all tables 100% wide */
#yf_forum table {
	width: 100%;
}
/* gives all tables faux cellpadding of 5px */
#yf_forum td,
#yf_forum .divpad{ 
	padding: 5px;
}
/* allows some tables to have no padding on the td */
#yf_forum td.nopad {
	padding: 0;
}
/* makes sure linked images do not have a border */
#yf_forum img {
	border: 0;
	vertical-align: middle;
}
/* global hyperlink styles */
#yf_forum a {
	background: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0033CC;
    text-decoration: underline;
}
#yf_forum a:hover {
	color: #000000;
	text-decoration : none;
	cursor: pointer;
}
/* form styles */
#yf_forum input,
#yf_forum textarea,
#yf_forum select {
/*
	background: #FFF;
	border: 1px solid #4C77B6;
	color: #000;
	font-family: verdana, helvetica, sans-serif;
	font-size: 11px;
	margin: 5px;
	padding: 2px;
	vertical-align: middle;
*/
}
#yf_forum select {
/*
	border: 0;
	font-family: verdana, helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
*/
}
#yf_forum input.button {
/*
	margin: 0;
	width: auto;
*/
}
#yf_forum optgroup option {
/*
	font-family: verdana, helvetica, sans-serif;
	font-size: 12px;
*/
}
#yf_forum .codebuttons { 
/*
	font-family: Verdana, Helvetica, Sans-Serif; 
	font-size: 10px; 
	vertical-align: middle;
	margin:2px;
*/
}
#yf_forum .textarea,
#yf_forum .searchinput,
#yf_forum .button,
#yf_forum .gobutton{
/*
	background: #FFF;
	border: 1px solid #4C77B6;
	color: #000;
	font-family: Verdana, Helvetica, Sans-Serif;
	font-size: 11px;
	padding: 2px;
	vertical-align: middle;
*/
}
#yf_forum .button{
/*
	background: #DFE6EF;
*/
}
#yf_forum .gobutton{
/*
	background: transparent;
	border: 0;
	color: #072A66;
	margin: 0;
	vertical-align: middle;
*/
}
#yf_forum .radiobutton,
#yf_forum .checkbox,
#yf_forum .helpbox { 
	border: 0;
	vertical-align: middle;
}
/* styles for pagination links */
#yf_forum .pagelink,
#yf_forum .pagelinklast,
#yf_forum .pagecurrent,
#yf_forum .minipagelink,
#yf_forum .minipagelinklast {
	background: #F0F5FA;
	border: 1px solid #072A66;
	padding: 1px 3px 1px 3px;
}
#yf_forum .pagelinklast,
#yf_forum .minipagelinklast {
	background: #DFE6EF;
}
#yf_forum .pagecurrent{
	background: #FFC9A5;
}
#yf_forum .minipagelink,
#yf_forum .minipagelinklast {
	border: 1px solid #C2CFDF;
	font-size: 10px;
	margin: 0 1px 0 0;
}
#yf_forum .pagelink a,
#yf_forum .pagelinklast a,
#yf_forum .pagecurrent a,
#yf_forum .minipagelink a,
#yf_forum .minipagelinklast a {
	text-decoration: none;
}
/* Forum desc */
#yf_forum .forumdesc,
#yf_forum .forumdesc a:link,
#yf_forum .forumdesc a:visited,
#yf_forum .forumdesc a:active{ 
/*
	background: transparent;
	font-size: 10px; 
	color: #666;
	line-height: 135%;
	margin: 2px 0 0 0;
	padding: 0;
*/
}
/* tableborders gives the white column / row lines effect */
#yf_forum .plainborder,
#yf_forum .tablefill,
#yf_forum .tablepad {
	background: #F5F9FD;
	border: 1px solid #345487;
}
#yf_forum .tablefill,
#yf_forum .tablepad {
	padding: 6px;  
}
#yf_forum .tablepad {
	border: 0 !important;
}
#yf_forum .pagelinks {
	float: left;
	line-height: 1.2em;
	width: 35%;
}
#yf_forum .desc {
	font-size: 11px; 
	color: #434951;
}
#yf_forum .lastaction {
	font-size: 10px; 
	color: #434951;
}
#yf_forum .edit {
	font-size: 9px;
}
#yf_forum .thin {
	border: 1px solid #FFF;
	border-left: 0;
	border-right: 0;
	line-height: 150%;
	margin: 2px 0 2px 0;
	padding: 6px 0 6px 0;
}
/* quote and code wrappers */
#yf_forum .quotetop {
	background: #E4EAF2;
	border: 1px dotted #000;
	border-bottom: 0;
	border-left: 4px solid #8394B2;
	color: #000;
	font-weight: bold;
	font-size: 10px;
	margin: 8px auto 0 auto;
	padding: 3px;
}
#yf_forum .quotemain {
	background: #FAFCFE;
	border: 1px dotted #000;
	border-left: 4px solid #8394B2;
	border-top: 0;
	color: #465584;
	padding: 4px;
	margin: 0 auto 8px auto;
}
#yf_forum .codetop,
#yf_forum .sqltop,
#yf_forum .htmltop {
	background: #FDDBCC;
	color: #000;
	font-weight: bold;
	margin: 0 auto 0 auto;
	padding: 3px;
	width: 98%;
}
#yf_forum .codemain,
#yf_forum .sqlmain,
#yf_forum .htmlmain {
	background: #FAFCFE;
	border: 1px dotted #000;
	color: #465584;
	font-family: Courier, Courier New, Verdana, Arial, Sans Serif;
	margin: 0 auto 0 auto;
	padding: 2px;
	width: 98%;
}
/* All New Styles */
#yf_forum .borderwrap,
#yf_forum .borderwrapm {/* this will affect the outlining border of all the tables and boxes through-out the skin. */
	background: #FFF; 
/*	border: 1px solid #072A66;*/
	border: 1px solid #555;
	padding: 0; 
	margin: 0; 
}
#yf_forum .borderwrapm{
	margin: 5px;
}
#yf_forum .borderwrap h3,
#yf_forum .maintitle,
#yf_forum .formsubtitle {
	background: #43434D;
	border: 1px solid #FFF;
/*	border-bottom: 1px solid #ccc;*/
	color: #FFF; 
	font-size: 12px;
	font-weight: bold; 
	margin: 0;
	padding: 8px;
}
#yf_forum .formsubtitle {
	background: #d0d0d0;
	color: #000;
	font-size: 10px;
	padding: 4px;
}
#yf_forum .maintitle p,
#yf_forum .formsubtitle p {
	background: transparent !important;
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}
#yf_forum .maintitle p.expand,
#yf_forum .maintitle p.goto,
#yf_forum .formsubtitle p.members {
	float: right;
	width: auto !important;
}
#yf_forum .maintitle a:link, 
#yf_forum .maintitle a:visited {
	background: transparent;
	color: #FFF;
	text-decoration: none;
}
#yf_forum .maintitle a:hover, 
#yf_forum .maintitle a:active {
	background: transparent;
	color: #FFF;
	text-decoration: underline;
}
#yf_forum table th,
#yf_forum .borderwrap table th,
#yf_forum .subtitle {
/*	background: #43434D;*/
	border-bottom: 1px solid #555;
/*	color: #3A4F6C; */
	font-size: 10px;
	font-weight: bold; 
	letter-spacing: 1px;
	margin: 0; 
	padding: 5px; 
}
#yf_forum .borderwrap table th a:link,
#yf_forum .subtitle a:link,
#yf_forum .borderwrap table th a:visited,
#yf_forum .subtitle a:visited, 
#yf_forum .borderwrap table th a:active,
#yf_forum .subtitle a:active,
#yf_forum .borderwrap table th a:hover,
#yf_forum .subtitle a:hover {
	background: transparent;
	color: #3A4F6C;
	text-decoration: none; 
}
#yf_forum .borderwrap h4{
	background: #DDE6F2;
	border: 1px solid #FFF;
/*	border-bottom: 1px solid #5176B5;*/
/*	border-top: 1px solid #5176B5;*/
	border-bottom: 1px solid #555;
	border-top: 1px solid #555;
/*	color: #5176B5; */
	color: #555;
	font-size: 12px;
	font-weight: bold; 
	margin: 0;
	padding: 5px;
}
#yf_forum .borderwrap p{
	background: #F9F9F9;
	border: 1px solid #CCC;
	margin: 5px;
	padding: 10px;
	text-align: left;
}
#yf_forum td.formbuttonrow,
#yf_forum .borderwrap p.formbuttonrow {
	background: #d0d0d0 !important; 
	border: 1px solid #FFF;
/*	border-top: 1px solid #5176B5;*/
	border-top: 1px solid #555;
	margin: 0px !important;
	padding: 5px !important;
	text-align: center;
}
#yf_forum td.formbuttonrow{
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
}
#yf_forum .bar,
#yf_forum .barb,
#yf_forum .barc {
/*	background: #DFE6EF;*/
	border: 1px solid #FFF;
}
#yf_forum .barc {
	border-bottom: 0;
}
#yf_forum .bar p,
#yf_forum .barb p,
#yf_forum .barc p {
	background: transparent;
	border: 0;
	color: #222;
	font-size: 11px;
	margin: 0;
	padding: 5px;
	text-align: left;
}
#yf_forum .barb p {
	text-align: right;
}
#yf_forum .catend {
/*	background: #8394B2;*/
	color: #000;
	font-size: 1px;
	height: 1px;
	padding: 0px;
}
#yf_forum .errorwrap {
	background: #F2DDDD;
	border: 1px solid #992A2A;
	border-top: 0;
	margin: 5px;
	padding: 0;
}
#yf_forum .errorwrap h4{
	background: #E3C0C0;
	border: 1px solid #992A2A;
	border-left: 0;
	border-right: 0;
	color: #992A2A; 
	font-size: 12px;
	font-weight: bold; 
	margin: 0;
	padding: 5px;
}
#yf_forum .errorwrap p {
	background: transparent;
	border: 0;
	color: #992A2A;
	margin: 0;
	padding: 8px;
}
#yf_forum .ruleswrap{
	background: #F2DDDD;
	border: 1px solid #992A2A;
	color: #992A2A; 
	margin: 5px 0 5px 0;
	padding: 5px;
}
#gfooter{
	background: #8394B2;
	margin: 5px 0 5px 0;
	padding: 0;
	width: 100%;
}
#gfooter td{
	color: #FFF;
	font-size: 10px;
	padding: 4px;
}
#gfooter a:link,
#gfooter a:visited{
/*	color: #FFF;*/
}
#submenu{ 
/*	background: #43434D;*/
	border: 1px solid #FFF;
	border-top: 0;
	color: #3A4F6C; 
	margin: 0; 
}
#userlinks,
#userlinksguest{ 
	background: #F0F5FA;
	border: 1px solid #C2CFDF;
	margin: 5px 0 5px 0;
	padding: 0 5px 0 5px;
}
#userlinksguest{ 
	background: #F4E7EA;
	border: 1px solid #986265;
}
#submenu p,
#userlinks p,
#userlinksguest p{
	background: transparent !important;
	border: 0 !important;
	font-size: 10px;
	font-weight: bold; 
	letter-spacing: 1px;
	margin: 0 !important;
	padding: 7px 0 7px 0; 
	text-align: right;
}
#userlinks p,
#userlinksguest p{
	font-weight: normal;
	letter-spacing: 0;
}
#submenu p.home,
#userlinks p.home,
#userlinksguest p.home{
	float: left;
}
#userlinksguest p.pcen{
	text-align: center;
}
#submenu a:link, 
#submenu  a:visited{ 
/*
	background: transparent; 
	color: #3A4F6C; 
	padding: 0 6px 0 6px;
	text-decoration: none;
*/
}
#submenu a:hover, 
#submenu a:active{
/*
	background: transparent; 
	color: #5176B5; 
*/
}
#navstrip{ 
	background: transparent;
	color: #999;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 8px 0 8px 0px; 
}
#navstrip a:link, 
#navstrip a:visited {
/*
	background: transparent; 
	color: #222; 
	text-decoration: none;
*/
}
#navstrip a:hover, 
#navstrip a:active {
/*
	background: transparent; 
	color: #5176B5; 
*/
}
#yf_forum .toplinks {
	background: transparent;
	color: #000;
	margin: 0;
	padding: 0 0 5px 0;
	text-align: right;
}
#yf_forum .toplinks span {
	background: #F0F5FA;
	border: 1px solid #C2CFDF;
	border-bottom: 0;
	color: #000;
	font-size: 10px;
	font-weight: bold;
	margin: 0 10px 0 0;
	padding: 5px;
}
#yf_forum .copyright {
	background: #EEE;
	font-size: 11px; 
	margin: 0 0 5px 0;
	padding: 8px;
}
/* YF forum other styles */
#yf_forum .forum1 {
	background: #DFE6EC;
}
#yf_forum .forum2 {
	background: #ffffff;
}
#yf_forum .forum_code {
	font: monospace;
	line-height: 10px;
	color: blue;
	background: #eee;
	border: 1px solid #999;
	padding: 5px;
	margin: 10px;
	width: 700px;
	overflow: auto;
}
#yf_forum .forum_quote {
	color: #333;
	background: #BBC7D0;
	border: 1px solid #999;
	padding: 5px;
	margin: 5px;
	overflow: auto;
}
#yf_forum div.forum_quote .forum_quote,
#yf_forum div.forum_quote .forum_quote .forum_quote .forum_quote {
	background: #D3DAE1;
}
#yf_forum div.forum_quote .forum_quote .forum_quote {
	background: #BBC7D0;
}
#yf_forum .forum_smile {
	color: yellow;
	font: 12px Verdana;
	font-weight: bold;
	background: black;
	margin: 0px 5px;
}
/* Shade styles */
#yf_forum .row2shaded,
#yf_forum .post1shaded {
	background-color: #aaa
}
#yf_forum .row4shaded,
#yf_forum .post2shaded {
	background-color: #bbb
}
#yf_forum .row1 {
	background: #ddd; 
}
#yf_forum .row2 {
	background: #ddd; 
}
#yf_forum .darkrow1 {
	background: #d0d0d0;
	color: #fff; 
}
#yf_forum .darkrow3 {
	background: #d0d0d0; 
	color: #fff; 
}