/* shop */
/* item on main products page */
#shop {
	font-size: 12px;
}
#shop .product_item {
	border: 1px solid #CCCCCC;
	width: 150px;
	height: 250px;
	background: #F1F2ED;
	float: left;
	margin: 10px 40px;
	font-weight: bold;
}
#shop .product_item span{
	margin-top: 1em;
}
#shop .product_item .product_name {
	font-size: 1em;
	padding: 0.3em 1em;
	height: 2.5em;
	overflow: hidden;
}
#shop .product_item .product_name a{
	color: #027167;
	text-decoration: none;
}
#shop .product_item .product_name a:hover {
	text-decoration: underline;
}

#shop .product_item .price {
	text-align: left;
	color: #C58B15;
	padding: 0.5em 1em;
}
#shop .product_item .product_image {
	
	border: 1px solid #F1F2ED;	
	text-align:center;
	clear: both;
	margin: 0 auto;
}
#shop .product_item .product_image img{
	float: none;
	margin:0;
}
#shop .product_item .button_div {
	padding-top: 2px;
	text-align:left;
}

/* item on details products page */
#shop .product_block {
	border: 1px solid #cccccc;
	background: #fff;
	margin: 10px;
	
	
}
#shop .product_block span{
	margin-top: 1em;
}
#shop .product_block .product_name {
	font-size: 1em;
	padding: 0.3em 1em;
	font-weight: bold;
	height: 2.5em;
	overflow: hidden;
}
#shop .product_block .price {
	text-align: left;
	color: #C58B15;
	padding: 0.5em 1em;
}
#shop .product_block .product_image {
	margin: 1em;
	background: #fff;
}
#shop .product_desc {
	border: 1px solid #cccccc;
	background: #f1f1f1;
	margin: 20px;
	padding:20px;
}

#shop .cats_block,
#shop .cats_block a {
	color: #027167;
	font-weight: bold;
}
#shop .cats_block a {
	margin-right: 20px;
}

/* * */

#shop .button_div a {
	display: block;
	width: 90px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	background: url("images/button_bg.jpg") repeat-x;
	border: 1px solid #CE7E03;
	color: #000000;
	text-decoration:none;
	float: left;
	margin: 0 10px;
}


.tabs {
	width: 100%;
	height: 31px;
	margin-bottom: 0px;
}
.tabs a {
	float: left;
	display: block;
	padding: 6px 15px 7px 15px;
	margin-right: 2px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background: #FFFFFF url('../image/tab_3.png') repeat-x;
	color: #000000;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	z-index: 1;
	position: relative;
	top: 1px;
}
.tabs a.selected {
	background: #FFFFFF url('../image/tab_3.png') repeat-x;
	border-bottom: 0px;
	padding-bottom: 8px;
	z-index: 3;
}
.tab_page {
	border: 1px solid #DDDDDD;
	background: #FFFFFF;
	padding: 10px;
	display: block;
	z-index: 2;
	margin-bottom: 10px;
}

/* shop */
