h1 {
	font-size: 1.6em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.3em;
}
h5 {
	font-size: 1.2em;
}
h6 {	
	font-size: 1.1em;
}
a {
}
a:hover {
	text-decoration: underline; 
}

/* Positioning of main blocks */
html, body {
	margin: 0 auto; /*Center container on page*/
	padding: 0;
	min-width: 920px;
	max-width: 1500px;
	font-size: 1em;
}

#container {
	width: 100%; /*Width of main container*/
	margin: 0 auto; /*Center container on page*/
	overflow: hidden;
}
#center_block {
	overflow: hidden;
	clear:both;
/*	min-height: 550px;*/
}
#site_header {
	height: 90px; /*Height of top section*/
}
#below_header {
	text-align: center;
	height: 28px;

}
#content_block {
	float: left;
	width: 100%;
}

#center_column {
/*	margin: 0 190px 0 180px;*/ /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
	margin: 0 0px 0 180px;
/*	overflow: auto;*/
}
#left_column {
	float: left;
	width: 180px; /*Width of left column in pixel*/
	margin-left: -100%; /*Set margin to that of -(MainContainerWidth)*/
}
#right_column {
	float: left;
	width: 190px; /*Width of right column*/
	margin-left: -190px; /*Set left margin to -(RightColumnWidth)*/
	display: none;
}
#center_column, 
#left_column, 
#right_column {
	padding-bottom:32767px;
	margin-bottom:-32767px;
}


#left_column .inner, 
#right_column .inner, 
#center_column .inner {
	padding-bottom: 32767px;
	margin-bottom: -32767px;
}
#below_content {
	clear: left;
	width: 100%;
}
/*Margins for inner DIV inside each column (to provide padding)*/
.inner {
	padding: 5px;
	margin-top: 0;
}
/* /Positioning of main blocks */