/* IE fixes*/
body {
	width: expression((documentElement.offsetWidth || document.body.offsetWidth) < 920 ? '920px' : 'auto');
	width: expression((documentElement.offsetWidth || document.body.offsetWidth) > 1500 ? '1500px' : 'auto');
}
.editform p {
	padding-left: 30%;
}
.editform label {
	margin-left: -28%;
	width: 40%;
}
.displayform p {
	padding-left: 40%;
}
.displayform label {
	margin-left: -37%;
	width: 70%;
}
label.simple {
	margin: 0;
}

.poll fieldset {
	position: relative;
	padding: 2em 1em 1em 1em;
}
.poll legend {
	position: absolute;
	top: -0.6em;
	left: 0.2em;
}

.widget .calendar {
	font-size: 0.8em;
}


.escort_special_block p {
	padding-left: 30%; /* width of left column containing the label elements */
}
.escort_special_block label {
	margin-left: -28%; /*width of left column*/
	width: 28%; /* width of labels. Should be smaller than left column to create some right margin */
}
.escort_special_block .photos_block {
	width: 124px;
}

/*
.editform .button_div input {
	font-size: 0.9em;
	font-weight: bold;
	padding: 0;
	margin: 1px;
	text-transform: uppercase;
	color: #767676;
	background: #ffffff;
	border: 1px solid #79B1D4;
	border-width: 1px 3px 3px 1px;
}
*/
/* IE fixes*/

/* IE6 only fixes */


* html body {
	width: auto;
}

* html #container {
	padding: 0;
	margin: 0;
	width: 100%;
	position: relative;
}
* html #center_block { 
	position: relative;
	overflow: visible;
	height: 1%; /*DO NOT touch!!! needed for correct ie6 rendering 
	elements with position:relative; and on :hover elements disappearing */
}
* html #center_column,
* html #left_column, 
* html #right_column {
	height: 1%; /*DO NOT touch!!! needed for correct ie6 rendering elements with position:relative;*/
	padding-bottom:0;/*32767px;*/
	margin-bottom:0;/*-32767px;*/
}

* html #left_column .inner, 
* html #right_column .inner, 
* html #center_column .inner {
	padding-bottom:0; /*32767px;*/
	margin-bottom:0; /*-32767px;*/
}

/* Needed to provide correct vertical alignment of multi-line elements (ex. several checkboxes) */
* html .editform .vertical {
	display: block;
	margin-left: -20%;
	width: 90%;
}

* html .line_item {
	overflow:visible;
	width:100%;
}
* html .editform p {
	padding-left: 20%;
}
* html .editform label {
	margin-left: -18%;
	width: 40%;
}
* html .filter p {
	padding-left: 40%;
}
* html .filter label {
	margin-left: -37%;
	width: 70%;
}


/* /IE6 only fixes */
