<?xml version="1.0" encoding="UTF-8" ?>
<phpunit backupGlobals="false" 
	backupStaticAttributes="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="true"
	syntaxCheck="false"
	verbose="true"
	strict="false"
>
	<testsuites>
		<testsuite name="all-tests">
			<directory>./</directory>
		</testsuite>
		<testsuite name="cache">
			<directory>./cache/</directory>
		</testsuite>
		<testsuite name="database">
			<directory>./db/</directory>
		</testsuite>
		<testsuite name="func">
			<directory>./func/</directory>
		</testsuite>
		<testsuite name="tpl">
			<directory>./tpl/</directory>
		</testsuite>
	</testsuites>
	<!--logging>
		<log type="coverage-clover" target="artifacts/phpunit/coverage/coverage.xml" />
		<log type="junit" target="artifacts/phpunit/phpunit.xml" logIncompleteSkipped="true" />
		<log type="testdox-html" target="./logs/testdox.html" />
	</logging-->
</phpunit>
