<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  bootstrap="yf_unit_tests_setup.php"
  backupGlobals="false"
  beStrictAboutChangesToGlobalState="false"
  beStrictAboutOutputDuringTests="false"
  beStrictAboutTestsThatDoNotTestAnything="false"
  colors="true"
  displayDetailsOnIncompleteTests="true"
  displayDetailsOnPhpunitDeprecations="true"
  displayDetailsOnSkippedTests="true"
  displayDetailsOnTestsThatTriggerDeprecations="true"
  displayDetailsOnTestsThatTriggerErrors="true"
  displayDetailsOnTestsThatTriggerNotices="true"
  displayDetailsOnTestsThatTriggerWarnings="true"
  stopOnFailure="false"
>
<!-- processIsolation="true" -->
  <testsuites>
    <testsuite name="all">
      <directory>./</directory>
      <exclude>./integration/</exclude>
    </testsuite>
    <testsuite name="all-with-integration">
      <directory>./</directory>
    </testsuite>
    <testsuite name="unit-all">
      <directory>./unit/</directory>
    </testsuite>
    <testsuite name="unit-only-db">
      <directory>./unit/db/</directory>
    </testsuite>
    <testsuite name="unit-no-db">
      <directory>./unit/</directory>
      <exclude>./unit/db/</exclude>
    </testsuite>
    <testsuite name="unit-only-tpl">
      <directory>./unit/tpl/</directory>
    </testsuite>
    <testsuite name="unit-only-functions">
      <directory>./unit/functions/</directory>
    </testsuite>
    <testsuite name="functional-all">
      <directory>./functional/</directory>
    </testsuite>
    <testsuite name="functional-no-db">
      <directory>./functional/</directory>
      <exclude>./functional/db/</exclude>
    </testsuite>
    <testsuite name="functional-only-cache">
      <directory>./functional/cache/</directory>
    </testsuite>
    <testsuite name="functional-only-model">
      <directory>./functional/model/</directory>
    </testsuite>
    <testsuite name="functional-only-db">
      <directory>./functional/db/</directory>
    </testsuite>
    <testsuite name="db-all">
      <directory>./functional/db/</directory>
      <directory>./unit/db/</directory>
    </testsuite>
    <testsuite name="plugins-all">
      <directory>./acceptance/plugins/*/tests/*</directory>
      <directory>./functional/plugins/*/tests/*</directory>
      <directory>./unit/plugins/*/tests/*</directory>
    </testsuite>
    <testsuite name="integration-all">
      <directory>./integration/</directory>
    </testsuite>
  </testsuites>
  <!-- <logging>
    <junit outputFile="./report/junit.xml"/>
  </logging> -->
</phpunit>
