.yf-ratings {
	width:100%;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	/* background-color: #ffffff; */
}
.yf-ratings-loading {
	display: none;
	height: 16px;
	text-align: left;
}
.yf-ratings-image {
	border: 0px;
}