html{
	overflow-x: auto; /* fixes MSIE scrollbar bug DO NOT REMOVE, has no effect in Mozilla, or Opera */
}
#yf_chat {
	margin:	0px;
	padding: 0px;
}
#yf_chat form {
	display: inline;
	margin: 0; /* removes mystery form tag gapping */
	padding: 0; /* removes mystery form tag gapping */
}
#yf_chat table, 
#yf_chat tr, 
#yf_chat td, 
#yf_chat span, 
#yf_chat div, 
#yf_chat p, 
#yf_chat strong, 
#yf_chat small, 
#yf_chat b, 
#yf_chat a {
	font-family: Verdana;
	font-size: 11px;
	color: #555555;
}
#yf_chat body {
	margin: 0px;
	padding:0px;
}
#yf_chat h3 {
	font: 24px Verdana;
	color: #555555;
}
#yf_chat .check {
	border: 0px;
	background: transparent;
}
#yf_chat div {
	margin: 0px;
	padding: 2px;
	font-size: 10px;
	font-family: Verdana;
}
#yf_chat div.bg1 {
	background: #ffffff;
}
#yf_chat div.bg2 {
	background: #f5f5f5;
}
#yf_chat div.users_m {
	background: #0000ff;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}
#yf_chat div.users_f {
	background: #ff0000;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}
#yf_chat div.total_users {
	background: yellow;
	color: #000000;
	text-align: center;
}
#yf_chat div.total_users2 {
	background: #ffcc00;
	color: #000000;
	text-align: center;
}
#yf_chat div.msg_bg1 {
	background: #ffffff;
}
#yf_chat div.msg_bg2 {
	background: #ffffff;
}
#yf_chat span.user_msg {
	font-size: 12px;
}
#yf_chat input, 
#yf_chat select, 
#yf_chat textarea {
	border: 1px solid black;
	color: black;
	font-size: 10px;
	font-weight: bold;
	font-family: verdana;
	background: white;
}
#yf_chat a, 
#yf_chat a:visited {
	font-weight: bold;
	text-decoration: underline;
	color: #555555;
}
#yf_chat a:hover, 
#yf_chat a:active {
	font-weight:bold;
	text-decoration: underline;
	color: #555555;
}
#yf_chat .chat_user_ignore_0 {
	color: #33aa00;
}
#yf_chat .chat_user_ignore_1 {
	color: #ff0000;
}
#yf_chat .bg1 {
	background:#f5f5f5;
}
#yf_chat .bg2 {
	background:#fff;
}
#yf_chat span.smile {
	color: yellow;
	font: 12px Verdana;
	font-weight: bold;
	background: black;
	margin: 0px 5px;
}
#yf_chat .header {
	color: white;
	background-color: #555555;
	text-align: center;
	text-transform: capitalize;
}
#yf_chat table.tbb td{
	border: 1px solid #555555;
}
#yf_chat table.tbb {
	border-collapse: collapse;
}
#yf_chat .td_header {
	color: white;
	background-color: #555555;
	text-align: center;
	text-transform: capitalize;
}