form {
	display: inline;
	margin: 0;
	padding: 0;
}
body, table, th, tr, td, span, div, p, strong, small, b, a {
	font-family: Verdana;
	line-height: 140%;
	font-size: 12px;
}
body, table {
	text-align:left;

}
small {
	font-size: 10px;
}
input, textarea, select {
	font: 12px Verdana;
	background: #ffffff;
}
hr {
	border-width: thin 0px 0px 0px;
	border-style:dashed; 
	border-color:gray;
}
label {
	cursor: pointer;
}
